body{
  background-image: url("./img/popcorn.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  margin-top: 200px;
}

.fb-login-button{
  margin-top: 20px;
  margin-left: 400px;
}

#maintext {
  margin-left: 200px;
}